




body{

    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.827),
     #e0e2db);
    margin-bottom: 0%;
    /* border-left: 20px solid rgb(39, 190, 190); */


    }
   
a {
    text-decoration: none;
    font-style: oblique;
    margin-left: 10px;   
    font-family: 'Sarabun', sans-serif;
    color: #a1a1a1;

}
a:hover {
    color: rgb(45, 178, 255);
  }
nav img{
    position: relative;
    left: 70px;
}
#navBar{
    margin-right: 40%;
    margin-top: 42px;
    float: right;
}
#fontawesome{
position: relative;
top: 50%;
left: 80%;
}
.fntas{
    color: #878787;
}

h1{
    margin-left: 100px;
    
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    /* background-color:rgb(39, 190, 190) ; */
    /* border: rgb(127, 133, 133) 20px; */


    /* border-radius: 10%; */
    /* opacity:40%; */
    display: inline;
    /* padding: 5px; */
    
}
.paragraph{
    margin-top: 2%;
    font-family: 'Sarabun', sans-serif;
    color: #889696;
}
#firstPargraph{
    margin-top: 0%;
    text-align: justify;
    margin-left: 100px;
    margin-right: 45%;
}





#parthenon img{
    height: 197px;
    width: 250px;
  position: absolute;
  right: 21%;
  top: 100px; 

  background-image: url(https://media1.giphy.com/media/5bDAc3il2DySZAFGpQ/giphy.gif) ;
  padding: 4px;

}
#secondParagraph{
    text-align: left;
    margin-left: 20%;
    margin-right: 43%;
    margin-bottom: 0%;
}
ul {
    margin: 0%;
}
#headingTwo{
    margin-left: 20%;
    color: black;
}
#turning-turso{
    
    position: absolute;
    left: 103px;
    top: 46.5%;
    display: inline-block;
    background-image: url(https://media1.giphy.com/media/5bDAc3il2DySZAFGpQ/giphy.gif) ;
    padding: 4px;



    
 
}

/* #arabicart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;} */

/* #turning-turso:hover {
    transition: cubic-bezier();

} */

#thirdParagraph{
    position: relative;
    text-align: left;
    margin-left: 20%;
    margin-right: 43%;
    margin-bottom: 0%;
   
}
#sideHead{
    position: absolute;
    margin-top: 2%;
    margin-left: 60%;
    margin-right: 20%;
    color: #5f7470;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}
::first-letter {
    text-transform: uppercase;
}
#didYouKnow{
    width: 282px;
    margin-top: 10px;
    
}
#sideHead h2{
    margin-bottom: 0px;
    color: black;
}



#jobs{
   
    font-family: 'Sarabun', sans-serif;
    color: #889696;
;
}

#whatjobs{
    position: relative;
    text-align: left;
    margin-left: 20%;
    margin-right: 43%;
    margin-bottom: 0%;
    background-color: rgb(95, 201, 219);
    padding: 9px;
    opacity: 60%;
    /* border: 3px solid rgb(108, 114, 116); */
    
}


#study{
    position: relative;
    text-align: left;
    margin-left: 20%;
    margin-right: 43%;
    margin-bottom: 0%;
    color: rgb(37, 36, 36);
    font-weight: bold;
    
}

#video{
    position: absolute;
    right: 300px;
    top: 132%;
    display: inline-block;
    
    width: 20%;
    height: 30%;
    /* padding-right: 12%; */

    border: solid 3px;
}

.p{
    font-size: large;
}

#use{
    position: relative;
    text-align: left;
    margin-left: 20%;
    margin-right: 43%;
    margin-bottom: 0%;
    color: rgb(37, 36, 36);
    font-weight: bold;
}


#mybutton{
    background-color: rgb(95, 201, 219);
    padding: 3px;
    border-radius: 5px;
}

.button{
    font-size: larger;
}