body{
    margin: 0%;

    background-image: -webkit-linear-gradient(#e0e2db,rgba(255, 255, 255, 0.827));
    margin-bottom: 0%;
    }
    a {
        text-decoration: none;
        font-style: oblique;
        margin-left: 10px;   
        font-family: 'Sarabun', sans-serif;
        color: #a1a1a1;
    }
    a:hover {
        color: rgb(45, 178, 255);
      }
      nav img{
        position: relative;
        left: 70px;
    }
    nav{
        background-image: linear-gradient(to bottom, rgb(255, 255, 255)50%, rgba(238, 238, 238, 0) 80%);
        z-index: 3;
        position: sticky;
        top: 0%;
    }
    #navBar{
    
        position: sticky;
        margin-right: 40.7%;
        margin-top: 42px;
        float: right;
    }
    a:hover #adjust {
        color: black;   
    }
    .fntas{
        color: #878787;
    }
    #fontawesome{
        position: relative;
        top: 50%;
        left: 80%;
        }
#mainimage{
    position: relative;
    top: 20%;
    margin-right: 20%;
    float: right;
}
#mainimage img{
    width: 600px;
    border: white solid 6px;

}
#mission{
    font-family: 'Sarabun', sans-serif;
    text-align: justify;    
    position: absolute;
    margin-left: 7%;
    margin-right: 70%;
    color: #889696;
    line-height: 20px;

}

#vission{
    font-family: 'Sarabun', sans-serif;
    text-align: justify;    
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 63%;
    line-height: 20px;
    color: #889696;

}



/* footer{
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.827), #e0e2db);


} */
#missionWord{
    font-family: 'Comfortaa', cursive;
    font-size: 30px;

}
#vissionWord{
    font-family: 'Comfortaa', cursive;
    font-size: 30px;

}
h2{
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    color:#5f7470;
    margin-left: 10%;
    margin-top: 35%;
    margin-bottom: 10px;
}
#whyus{
    font-family: 'Sarabun', sans-serif;
    text-align: justify;    
    position: absolute;
    margin-left: 10%;
    margin-right: 35%;
    margin-bottom: 0px;
    color: #889696;
    line-height: 30px;
}
#girl{
    position: absolute;
    height: 420px;
    margin-left: 10%;
    padding-top: 170px;
    
}
h3{

    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    color:#5f7470;
    margin-left: 38%;
    margin-top: 15%;
    margin-bottom: 0px;
}
h4{
    font-family: 'Sarabun', sans-serif;
    font-size: 20px;
    color:#5f7470;
    margin-left: 39%;
    font-weight: 400;
    margin-right: 20%;
    margin-top: 1%;

    
}
#toTheQuery{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color:#5f7470;
    border: 0px;
    position: absolute;
    margin-top: 20px;
    right: 39%;
    /* padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px; */
   background-image: linear-gradient(to top, rgb(255, 255, 255)10%, rgba(65, 62, 62, 0.336) 80%);
  padding: 16px;
  border-radius: 8px;
  padding-left: 5%;
  padding-right: 5%;
   
}
#boyimage{
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 500px;
}
#lastText{
    font-family: 'Sarabun', sans-serif;
    color: #5F7470   ;
    font-size: 20px;
    position: absolute;
    margin-top: 20%;
    margin-right: 70%;
    margin-left:10% ;

}

hr{
    background-color: rgb(62, 199, 199);
    border-radius: 5px;
    width: 600px;
    height: 5px;
    border-top: rgb(62, 199, 199);
margin-top: 40%;
margin-right: 35%;
}