body{
    /* background-color: rgba(224, 217, 217, .5);  */
     /* background : url(https://i.pinimg.com/564x/cf/34/14/cf3414f1600513bd1c5f85d9d94058ac.jpg); */
     background-position: initial;
     /* background-position: center; */
     background-repeat: no-repeat;
     /* display: flex; */
     background-size: cover;
     
     
     
 }
 
 #content{
     margin-left: 150px;
     margin-right: 150px;
 }
  #img1{
    width: 40%;
    float: right;
 margin-left: 130px;
 border-right: 22px solid #555;
 border-spacing: -10;
 

  }
  .paragraph{
      font-size: 19px;
      /* line-height: 10px; */
      word-spacing: 7px;
      height: 300px;
      line-height: 30px;
      text-indent: 30px;
      font-family: 'Josefin Slab', serif;
      
  }
  #top-right:hover{
      transition: 1s;
      margin-left: 25px;
     
     
  }
 
  h1{
      font-size: 40px;
      padding-top: 120px;
      
  }
 
  #top-right{
         position: absolute;
         top: 366px;
         right: 120px;
         left: 790px;
         font-size: 44px;
         background-color: rgba(235, 137, 45, 0.671);
       }
 
 
  #img2{
      width: 30%;
         float: left;
      margin-right: 130px;
      border-right: 22px solid rgba(235, 137, 45, 0.671);
      border-top: 22px solid rgba(43, 42, 42, 0.671);
    
  }
  #mid-left{
     position: absolute;
     top: 888px;
     right: 900px;
     left: 190px;
     font-size: 33px;
     background-color: rgba(235, 137, 45, 0.671);
   
  }
  #mid-left:hover{
     transition: 1s;
     margin-left: 33px;
    
    
 }
 
  .paragraph2{
     font-size: 22px;
     /* line-height: 10px; */
     word-spacing: 7px;
     height: 300px;
     line-height: 30px;
     text-indent: 30px;
     font-family: 'Josefin Slab', serif;
    
  }
 
  #img3{
     width: 40%;
     float: right;
  margin-left: 130px;
  }
 
  #bottom-left{
     position: absolute;
         top: 1590px;
         right: 120px;
         left: 790px;
         font-size: 30px;
         background-color:rgba(235, 137, 45, 0.671);
   
  }
  #bottom-left:hover{
     transition: 1s;
     margin-left: 25px;
 }
 
  .paragraph3{
     font-size: 20px;
     /* line-height: 10px; */
     word-spacing: 7px;
     height: 300px;
     line-height: 30px;
     text-indent: 30px;
     padding-top: 200px;
     font-family: 'Josefin Slab', serif;
     
 }
 ul.a{
    
    list-style-type: square;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Josefin Slab', serif;


 }
 ul{
     padding-top: 70px;
 }
 h1{
    padding-top: 2px;
    background-color: rgba(235, 137, 45, 0.671);
    
 }
 #h1{
     padding-top: 30px;
 }
 h1:hover{
    transition: 1s;
    margin-left: 25px;
 }
 #img1:hover{
    box-shadow: black,
    black,
    black;
 }
 main{
     border: 3px solid black;
     padding-right: 8px;
     padding-left: 8px;
 } 