body{
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.827),
    #e0e2db);
    margin-bottom: 0%;
}

a {
    text-decoration: none;
    font-style: oblique;
    margin-left: 10px;   
    font-family: 'Sarabun', sans-serif;
    color: #a1a1a1;

}
a:hover {
    color: rgb(45, 178, 255);
  }
nav img{
    position: relative;
    left: 70px;
}
#navBar{
    margin-right: 40%;
    margin-top: 42px;
    float: right;
}
