body{
    /* background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.827),
     #e0e2db);
     width: 100%;
     margin-bottom: 0%;
     height: 100%; */
     background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.827),
     #E0E2DB);
    margin-bottom: 0%;
    }
   
a {
    text-decoration: none;
    font-style: oblique;
    margin-left: 10px;   
    font-family: 'Sarabun', sans-serif;
    color: #a1a1a1;

}
a:hover {
    color: rgb(45, 178, 255);
  }
nav img{
    position: relative;
    left: 70px;
}
#navBar{
    margin-right: 40%;
    margin-top: 42px;
    float: right;
}
#fontawesome{
position: relative;
top: 50%;
left: 80%;
}
.fntas{
    color: #878787;
}

h1{
    margin-left: 100px;
    color: #5f7470;
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
}
.paragraph{
    margin-top: 0%;
    font-family: 'Sarabun', sans-serif;
    color: #889696;
    display: justify;
}
#firstPargraph{
    margin-top: 0%;
    text-align: justify;
    margin-left: 100px;
    margin-right: 45%;
}
#parthenon img{
    height: 197px;
    width: 280px;
  position: absolute;
  right: 20%;
  top: 120px; 
}
#secondParagraph{
    text-align: left;
    margin-left: 20%;
    margin-right: 43%;
    margin-bottom: 0%;
    margin-top: 100px;
}
ul {
    margin: 0%;
}
#headingTwo{
    margin-left: 5%;
    margin-top: 200px;
    width: 600px;
}

#headingThree{
    margin-left: 20%;
    width: 700px;
}
#headingTwo:hover{
    color: saddlebrown;
    background-color: white;
    transition: 1s;
    margin-left: 25px;
}
#headingThree:hover{
    transition: 1s;
    margin-left: 50px;
    color: saddlebrown;
    background-color: white;
}
#headingfour{
    margin-left: 20%;
    width: 600px;
}
#headingfour:hover{
    transition: 1s;
    margin-left: 50px;
    color: saddlebrown;
    background-color: white;
}
#heading6{
margin-left: 10%;
margin-top: -40px;
}
#heading6:hover{
    transition: 1s;
    margin-left: 25px;
    color: saddlebrown;
    background-color: white;
}
#turning-turso{
    position: absolute;
    left: 103px;
    top: 42%;
    display: inline-block;
    
}
#thirdParagraph{
    position: relative;
    text-align: left;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 43%;
    margin-bottom: 0%;
}
#fourthParagraph{
    position: relative;
    text-align: left;
    margin-left: 20%;
    margin-right: 43%;
    margin-bottom: 0%;
}
#fifthParagraph{
    position: relative;
    text-align: left;
    margin-left: 20%;
    margin-right: 43%;
    margin-bottom: 0%;
}
#sideHead{
    position: absolute;
    /* margin-top: 2%; */
    margin-top: 50px;
    margin-left: 60%;
    margin-right: 20%;
    color: #5f7470;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}
::first-letter {
    text-transform: uppercase;
}
#didYouKnow{
    width: 282px;
    margin-top: 10px;
   display: justify;
    text-transform: lowercase;
}
#sideHead h2{
    margin-bottom: 0px;
}
#image1{
margin-left: 1100px;
margin-right: 20px;
margin-top: 60px;
}
#image2{
    /* height: 600px;
    width: 200px; */
    /* margin-left: 0px; */
    margin-top: 135px;
}
#image3{
    margin-left: 820px;
    margin-top: 60px;
    width: 300px;
    height: 300px;
}
h1{

    font-family: 'Comfortaa', cursive;
    font-size: 28px;
    font-weight: bolder;
}

li{
    font-family: 'Sarabun', sans-serif;
    color: #889696;
    font-size: 18px;
    padding: 2.5px;
    
}

 li:hover{
    transition: 1s;
    margin-left: 50px;
    background-color: white;
}

#divOne, #divTwo, #Ul{
    width: 250px;
    height: 250px;
    margin-right: 10px;
    float: left;
    
    
}
#divOne, #divTwo{
    margin-left: 20px;
    margin-right: 90px;
}
#image4{
    height: 100px;
    width: 100px;
}
h1:hover{
    transition: 1s;
    margin-left: 25px;
    color: saddlebrown;
    background-color: white;
}
#floatImg{
    margin-top: -1900px;
    margin-left: 350px;
}
