body{
   background-color: rgba(224, 217, 217, .5); 
    
    /* background-position: center; */
    
    
}

#content{
    margin-left: 150px;
    margin-right: 150px;
    
}
 #img1{
     float: right;
     margin-left: 130px;
     width: 40%;

 }
 .paragraph{
     font-size: 20px;
     /* line-height: 10px; */
     word-spacing: 7px;
     height: 300px;
     line-height: 30px;
     text-indent: 30px;
     font-family: 'Josefin Slab', serif;
     
     
 }
 #top-right:hover{
     transition: 1s;
     margin-left: 25px;
    
    
 }

 h1{
     font-size: 40px;
     padding-top: 120px;
     
 }

 #top-right{
        position: absolute;
        top: 280px;
        right: 120px;
        left: 790px;
        font-size: 33px;
        background-color: rgba(247, 224, 22, 0.5);
      }


 #img2{
     width: 30%;
        float: left;
     margin-right: 130px;
   
 }
 #mid-left{
    position: absolute;
    top: 820px;
    right: 900px;
    left: 190px;
    font-size: 33px;
    background-color: rgba(247, 226, 40, 0.666);
  
 }
 #mid-left:hover{
    transition: 1s;
    margin-left: 25px;
   
   
}

 .paragraph2{
    font-size: 18px;
    /* line-height: 10px; */
    word-spacing: 7px;
    height: 300px;
    line-height: 30px;
    text-indent: 30px;
    font-family: 'Josefin Slab', serif;
   
 }

 #img3{
    width: 40%;
    float: right;
 margin-left: 130px;
 }

 #bottom-left{
    position: absolute;
        top: 1500px;
        right: 120px;
        left: 790px;
        font-size: 33px;
        background-color: rgba(247, 224, 22, 0.7)
  
 }
 #bottom-left:hover{
    transition: 1s;
    margin-left: 25px;
}

 .paragraph3{
    font-size: 20px;
    /* line-height: 10px; */
    word-spacing: 7px;
    height: 300px;
    line-height: 30px;
    text-indent: 30px;
    padding-top: 200px;
    font-family: 'Josefin Slab', serif;
    
}

h1{
    padding-top: 2px;
    background-color: rgba(247, 224, 22, 0.7);
 }
 #h1{
     padding-top: 30px;
 }
 h1:hover{
    transition: 1s;
    margin-left: 25px;
 }
 #fourth-h2{
    position: absolute;
    top: 2400px;
    right: 900px;
    left: 155px;
    font-size: 33px;
    background-color: rgba(247, 226, 40, 0.666);
    margin-right: 80px;
        
 }
 #fourth-h2:hover{
    transition: 1s;
    margin-left: 25px;
}
#img4{
width: 25%;
        float: left;
     margin-right: 130px;
}
#what-qualifications-do-you-need{
    margin-top: 150px;    
}
#img5{
    width: 45%;
    float: right;
 margin-left: 130px;
}
#what-degrees-can-you-study{
    margin-top: 100px;
}
#fifth-h2{  position: absolute;
    top: 2950px;
    right: 120px;
    left: 790px;
    font-size: 33px;
    background-color: rgba(247, 224, 22, 0.7)

}
#fifth-h2:hover{
transition: 1s;
margin-left: 25px;
}

.paragraph4{
    font-size: 20px;
    /* line-height: 10px; */
    word-spacing: 7px;
    height: 300px;
    line-height: 30px;
    text-indent: 30px;
    padding-top: 200px;
    font-family: 'Josefin Slab', serif;
    margin-top: 5px;
    padding-top: 0px;
}
#ul-1{
    font-size: 20px;
    /* line-height: 10px; */
    word-spacing: 7px;
    height: 300px;
    line-height: 30px;
    text-indent: 30px;
    padding-top: 200px;
    font-family: 'Josefin Slab', serif;
    margin-top: -250px;
    padding-top: 0px; 
   
}
#ul-2{
    font-size: 20px;
    /* line-height: 10px; */
    word-spacing: 7px;
    height: 300px;
    line-height: 30px;
    text-indent: 30px;
    padding-top: 200px;
    font-family: 'Josefin Slab', serif;
    margin-top: -200px;
    padding-top: 0px; 
    margin-left: -55px;
    margin-bottom: -200px;
}

.paragraph5{
    font-size: 20px;
    /* line-height: 10px; */
    word-spacing: 7px;
    height: 300px;
    line-height: 30px;
    
    padding-top: 200px;
    font-family: 'Josefin Slab', serif;
    margin-top: -180px;
    padding-top: 0px;
}